body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 5% 150px;
}

/* Input styles */
input[type="search"] {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Table styles */
.table-container {
  margin-top: 20px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ddd;
}

.data-table th,
.data-table td {
  padding: 8px;
  text-align: left;
}

.data-table th {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.data-table tr:hover {
  background-color: #f2f2f2;
}

.sc-blmEgr {
  text-align: center;
  font-size: 32px;
}

.sc-guDLey div {
  background-color: rgb(103, 103, 201);
  color: white;
  font-size: 16px;
}